{% extends 'base.html' %}
{% set hide_sidenav = true %}
{% block content %}
<div class="login-container">
  <h2>Login</h2>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="error">{{ messages[0] }}</div>
    {% endif %}
  {% endwith %}
  <form method="POST">
    {{ form.hidden_tag() }}
    <label for="username">Username</label>
    {{ form.username(size=32, id='username', autofocus=True) }}
    <label for="password">Password</label>
    {{ form.password(size=32, id='password') }}
    <input type="submit" value="Login">
  </form>
</div>
{% endblock %}